.header {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}
.main {
  padding:10px;
}


.footer {
  padding:5px 10px;
  background-color: black;
}

#footer-text {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
}
