* {
  /*margin-right:10px;*/
}

.main {
  /*border: 10px solid #5b0aea;*/
  height: 900px;
  width: 100%;
  background-image: url("images/sea.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
/* background-image: -webkit-linear-gradient(#FFD194, #BC1324); */

.header {
  /*border: 1px solid #FFEB3B;*/
  z-index: 999;
  margin-right:10px;
  position: relative;
  /*top: 30px;*/
  background-color: #333;
  width: 100%;
}

.container {
  padding-left:90px;
}

.navbar {
  /*border: 10px solid rgb(182, 10, 212);*/
  margin: 0;
  padding: 0px 0 50px 0;
}

a:visited {
  color: #b09bd8;
}

a:hover {
  color: white;
}

li {
  cursor:pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /*border: 1px solid rgb(89, 91, 99);*/
  display: none;
  position: absolute;
  width: 120px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  position: relative;
  background-color: #B4DADB ;
} 

.dropdown-content li {
  position: relative;
  left :-35px;
  margin-top: 2px
}   


#left{
  float: left;
  /*border: 10px solid rgb(21, 48, 197);*/
  list-style-type:none;
}

#right{
  /*border: 10px solid rgb(18, 222, 65);*/
  float: right;
  color: #fff;
}

.navbar li {
  /*border: 10px solid rgb(9, 200, 230);*/
  color: #fff;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 25px;
  text-transform: uppercase;
}

h1 {
  /*border: 10px solid rgb(9, 200, 230);*/
  position: relative;
  top: 70px;
  color: #270703;
  font-family: 'Amatic SC', cursive;
  font-size: 90px;
  text-align: center;
  width: 100%;
}

.hdng_box {
  /*border: 5px solid #5b0aea;*/
  padding-top: 20px;
  opacity: 0.4;
  /*background-color: #efe7e7;*/
  color: #3f51b5;
  position: relative;
  text-transform: uppercase;
  top: 70px;
  width: 50%;
  margin: auto;
}

h2 {
  font-family: 'Abel', sans-serif;
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 5%;
}


#Learn_more_button {
  border: 2px solid #5b0aea;
  height: 25px;
  position: relative;
  left: -5px;
  text-transform: uppercase;
  top: 35px;
  color: #421424;
  font-family: 'Abel', sans-serif;
  font-weight:800;
  font-size: 10px;
}

#Learn_more_button:hover {
  background: #128cc3;
}

#progspan {
  /*border: 1px solid #ce1515; */
}

.supporting {
  position: relative;
  top: 200px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.btn-default {
  background: #128cc3;
  color: #9E9E9E;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  margin-bottom: 20px;      
}

.supporting .col {
  width: 30%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}
.clearfix {
  clear: both;
}

.footer {
  position: relative;
  /*top: 300px;*/
  padding:10px 0px;
  background-color: #333;
  color: #fff;
  width: 100%;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  padding-left:10px;
}


